// 标签云颜色
$tag-cloud-start      = #aaa;
$tag-cloud-end        = #111;
$tag-cloud-start-dark = #555;
$tag-cloud-end-dark   = #eee;


// 例如，你可以用百分比值覆盖这些变量来增加内容宽度。source/_data/variables.styl在站点根目录并添加变量：
// $content-desktop         = 90%
// $content-desktop-large   = 90%
// $content-desktop-largest = 90%


// 如果值以百分比表示，则在打开侧边栏时，内容宽度会动态减小到您定义的百分比。
// 但在标准行为中，侧边栏必须取代您定义的内容。
// 为了解决这个问题，您可以指定内容宽度em：
// $content-desktop         = 50em
// $content-desktop-large   = 55em
// $content-desktop-largest = 60em
